<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h1 style="color: teal;">About Us</h1>
      <p style="font-size: 1.5em;">
        Blogo was created to post fully customizable blog using html,
        css and js</br>
        It uses nodejs as the backend and mongodb as a database,</br>
        using mongoose data is sent and fetched from database.</br>
        Authentication is implemented using auth0.
      </p>
      <p>Created by Naveen Kala</p>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
