<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <h1 class="text-center mb-4" style="color: teal">New Blog</h1>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title"><h4>Title</h4></label>
        <input type="text" id="title" name="title" required />
        <label for="snippet"><h4>Snippet</h4></label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body"><h4>Body</h4></label>
        <textarea
          style="white-space: pre-wrap"
          id="body"
          name="body"
          required
        ></textarea>
        <button>Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
