@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
body {
  margin: 20px auto;
  padding: 0 20px;
  font-family: "Noto Serif", serif;
  max-width: 1500px;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

/* nav & footer styles */
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
.content {
  margin-left: 20px;
}

.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create-blog button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}
